<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataMiningCourts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <log4net>
    <!-- Chyby duplicit -->
    <appender name="DuplicityLogAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogFileName}\chyby-duplicity.txt"/>
      <param name="AppendToFile" value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="DuplicityLogger"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>
    <!--Chyby exportu -->
    <appender name="ExportLogAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogFileName}\chyby-exportu.txt"/>
      <param name="AppendToFile" value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="ExportLogger"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>
    <!-- Chyby kritické -->
    <appender name="CriticalLogAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogFileName}\chyby-kriticke.txt"/>
      <param name="AppendToFile" value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="CriticalLogger"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>
    <!-- Vše -->
    <!--<appender name="InfoLogAppender" type="log4net.Appender.FileAppender">
	  <file type="log4net.Util.PatternString" value="%property{LogFileName}\log.txt"/>
	  <param name="AppendToFile" value="false"/>
	  <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
	  <filter type="log4net.Filter.LevelRangeFilter">
		<levelMin value="DEBUG"/>
		<levelMax value="INFO"/>
		<acceptOnMatch value="true"/>
	  </filter>
	  <filter type="log4net.Filter.DenyAllFilter"/>
	  <layout type="log4net.Layout.SimpleLayout"/>
	</appender>-->
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="DuplicityLogAppender"/>
      <appender-ref ref="ExportLogAppender"/>
      <appender-ref ref="CriticalLogAppender"/>
      <appender-ref ref="InfoLogAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
	<connectionStrings>
		<add name="LexData" connectionString="Data Source=Squirrel;Initial Catalog=LexData;Integrated Security=true"/>
		<add name="SlovLex" connectionString="Data Source=Squirrel;Initial Catalog=SlovLex;Integrated Security=true"/>
	</connectionStrings>
  <applicationSettings>
    <DataMiningCourts.Properties.Settings>
      <setting name="PROCESS_ZAKLADNI_PREDPIS" serializeAs="String">
        <value>True</value>
      </setting>
    </DataMiningCourts.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!-- Export - z této aplikace se nenačítá konfigurační soubor exportu, proto jeho nastavení ještě umístíme zde -->
	  <add key="ApplicationFolder" value="\\Appsv\Programy\" />
	  <add key="ApplicationServerPath" value="\\Appsv" />
	  <add key="XsdPath" value="file://Appsv/Programy/Xsd/Beck-praha-general.xsd" />
	  <add key="XsdPathSk" value="file://Appsv/Programy/Xsd/Beck-slovlex.xsd"/>
    <!--RO settings-->
    <!--<add key="DtDBook" value="\\Midgard\Program\Dtd\beck-bucharest-books_v10-3.dtd"/>
		<add key="DtdLiterature" value="\\midgard\Program\Dtd\beck-bucharest-literature.dtd"/>
		<add key="DtdMo" value="\\midgard\Program\Dtd\MoDTD.dtd"/>-->
  </appSettings>
</configuration>
